@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

* {
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    /* font-size: 18px; */
}

@media screen and (max-width: 1440px) {
    /* Header */
    body {
        margin: 0px;
        height: 100vh;
        width: 100%;
        display: grid;
    }
    
    header {
        width: 100%;
        background-image: url("./images/desktop/image-header.jpg");
        background-repeat: round;
        height: 800px;
    }

    .menu {
        visibility: hidden;
    }

    nav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        height: 70px;
    }
    header nav svg {
        width: 150px;
        margin-left: 50px;
    }

    nav a {
        text-decoration: none;
        font-size: 16px;
        margin-top: 3%;
        margin-right: 30px;
        padding: 10px 20px;
        color:hsl(0, 0%, 100%);
        border-radius: 30px;
    }

    nav a:hover {
        background-color: none;
        opacity: 50%;
    }

    nav .contact {
        color: black;
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: normal;
        font-size: 13px;
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 30px;
        background-color: hsl(0, 0%, 100%);
        margin-right: 60px;
    }

    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        text-align: center;
        margin: 140px auto 100px auto;
        font-family: 'Fraunces', serif;
        color: hsl(0, 0%, 100%);
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: bolder;
    }

    header img {
        width: 25px;
    }

    /* main */
    main {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        height: auto;
    }

    #order4 {
        grid-row: 2;
    }

    main .grid {
        max-width: 720px;
        max-height: 720px;
        width: auto;
        height: 600px;
        background-color: hsl(0, 0%, 100%);
    }

    .grid .blank-text {
        margin: 180px 140px auto 180px;
    }

    .grid h2 {
        font-family: 'Fraunces', serif;
        font-size: 36px;
    }

    .grid p {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        color:hsl(232, 10%, 55%);
        line-height: 25px;
        margin: 30px 0;
    }

    .grid a:hover {
        cursor: pointer;
    }

    #order1 a {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Fraunces', serif;
        margin: 0 10px;
    }

    #order1 a::after {
        content: '';
        display: block;
        width: 105px;
        height: 7px;
        background-color: hsl(51, 100%, 49%);
        border-radius: 20px;
        margin-left: 7px;
        position: absolute;
        margin-top: -7px;
        opacity: 50%;
    }

    #order2 {
        background-image: url("./images/desktop/image-transform.jpg");
    }

    #order3 a {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Fraunces', serif;
        margin: 0 10px;
    }

    #order3 a::after {
        content: '';
        display: block;
        width: 105px;
        height: 7px;
        background-color: hsl(7, 99%, 70%);
        border-radius: 20px;
        margin-left: 7px;
        position: absolute;
        margin-top: -7px;
        opacity: 50%;
    }

    #order4 {
        background-image: url("./images/desktop/image-stand-out.jpg");
    }

    #order5 {
        background-image: url(./images/desktop/image-graphic-design.jpg);
    }

    #order5 p {
        color: hsl(167, 40%, 24%);
    }

    #order6 {
        background-image: url(./images/desktop/image-photography.jpg);
    }

    #order6 p {
        color: hsl(198, 62%, 26%);
    }

    .text {
        width: 40%;
        margin: 370px auto 0px;
        text-align: center;
        background-repeat: no-repeat;
    }

    .text h2 {
        font-size: 26px;
        color: hsl(212, 27%, 19%);
    }

    .text p {
        font-size: 14px;
    }

    /* section testimonial */
    section {
        margin-bottom: 40px;
    }

    section h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: hsl(213, 9%, 39%);
        text-align: center;
        margin-top: 120px;
    }

    .testimonials {
        display: inline-flex;
        align-items: center;
        margin: 3% 10%;
        /* justify-content: center; */
    }

    .testimonials .profile {
        display: block;
        text-align: center;
        justify-content: space-evenly;
        margin: 20px 35px;
        width: 30%;
    }

    .profile img {
        border-radius: 50%;
        width: 80px;
    }

    .profile p {
        font-size: 16px;
        color: hsl(213, 9%, 39%);
        font-family: 'Barlow', sans-serif;
        line-height: 1.8;
        margin-top: 40px;
    }

    .profile h3 {
        font-family: 'Fraunces', serif;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .profile span {
        font-size: 13px;
        color: hsl(210, 4%, 67%);
    }

    .bottom-images {
        display: inline-flex;
        width: 100%;
    }

    .bottom-images img {
        width: 25%;
    }

    footer {
        background-color: hsl(168, 34%, 41%);
        max-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        margin: 50px auto 15px auto;
    }
    footer svg path {
        fill: hsl(167, 40%, 24%);
    }

    footer nav {
        display: inline-flex;
        align-items: center;
        width: 22%;
    }

    footer a {
        color: hsl(167, 40%, 24%);
        font-size: 15px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    footer a:hover {
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        opacity: 100%;
    }

    footer .contact {
        display: inline;
        width: 15%;
        margin: 65px 20px 30px;
    }

    .contact a {
        margin: 0 15px;
        
    }

    .contact path:hover {
        fill: hsl(0, 0%, 100%);
    }

    .attribution {
        position: relative;
        width: 100%;
        background-color: hsl(168, 34%, 41%);
    }
}

@media screen and (max-width: 375px) {
    header {
        background-image: url("./images/mobile/image-header.jpg");
        background-repeat: round;
        height: auto;
        width: 100%;
    }

    .menu {
        visibility: visible;
        margin-right: 0px;
        width: 130px;
    }

    header nav .links {
        visibility: hidden;
        position: absolute;
    }

    main {
        grid-template-columns: auto;
    }

    #order2 {
        grid-row: 1;
    }

    #order4 {
        grid-row: 3;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .bottom-images {
        display: grid;
        grid-template-columns: auto auto;
    }

    .bottom-images img {
        width: 100%;

    }

    footer nav {
        width: 50%;
    }

    footer .contact {
        width: 50%;
    }
}